og-training-data/
old-training-data/
bruno_mars/
iu/
bruno_mars_test/
iu_test/
iu_all/
.DS_Store
*.h5
training-data/

**/__pycache__/
__pycache__/

*.pickle

audiovisualizer/node_modules
audiovisualizer/dist
audiovisualizer/.DS_Store
audiovisualizer/.env

model_checkpoint/*.pth
code/model_checkpoint/
code/model_checkpoint/
code/model_checkpoint/
code/model_checkpoint/
code/model_checkpoint/
code/model_checkpoint/

code/outputs/generated_audio/

*.npz