bruno_mars/
iu/
bruno_mars_test/
iu_test/
iu_all/
.DS_Store
*.h5

**/__pycache__/
__pycache__/

*.pickle

audiovisualizer/node_modules
audiovisualizer/dist
audiovisualizer/.DS_Store
audiovisualizer/.env